


body {
  margin: 0;

}
.radix-themes {
  --default-font-family: "Montserrat", sans-serif;  /* Your custom default font */
  --heading-font-family:"Montserrat", sans-serif;/* Your custom font for <Heading> components */
  --code-font-family:  "Montserrat", sans-serif;   /* Your custom font for <Code> components */
  --strong-font-family: "Montserrat", sans-serif; /* Your custom font for <Strong> components */
  --em-font-family: "Montserrat", sans-serif;     /* Your custom font for <Em> components */
  --quote-font-family:  "Montserrat", sans-serif; /* Your custom font for <Quote> components */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
